// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.banana{
    margin:0 auto;
    color: yellow;
  
    width: 150px;
}
.header{
    margin: 0 auto;
    color: yellow;
    width: 150px;
    font-family:vendana;
}
body  {
  background: url(http://www.zingerbug.com/Backgrounds/background_images/purple_maze_on_black_background_seamless.jpg);
}
a {
    margin: 0 auto;
    color: yellow;
    width: 150px;
}
p {
     margin: 0 auto;
    color: yellow;
    width: 150px;
}



